apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sidekiq-prometheus-exporter.fullname" . }}
  labels:
{{ include "sidekiq-prometheus-exporter.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "sidekiq-prometheus-exporter.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "sidekiq-prometheus-exporter.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if eq .Values.externalEnvVars.name "" }}
          env:
          {{- range $key, $value := .Values.envVars }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- else }}
          envFrom:
            {{- if eq .Values.externalEnvVars.type "Secret" }}
            - secretRef:
                name: {{ .Values.externalEnvVars.name }}
            {{- else }}
            - configMapRef:
                name: {{ .Values.externalEnvVars.name }}
            {{- end }}
          {{- end }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.containerPort }}
{{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.containerPort }}
{{- toYaml .Values.readinessProbe | nindent 12 }}
          ports:
            - name: http
              containerPort: {{ .Values.containerPort }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.securityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- if .Values.serviceAccount.create }}
      serviceAccount: {{ template "sidekiq-prometheus-exporter.fullname" . }}
      serviceAccountName: {{ template "sidekiq-prometheus-exporter.fullname" . }}
    {{- end }}
